<app-page-container title="Pets">
  <a routerLink="/pets/add" class="btn btn-primary">Add pet</a>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" (click)="sortByName()">Name <span>↓</span></th>
        <th scope="col" (click)="sortByCode()">Code <span>↓</span></th>
        <th scope="col" (click)="sortByType()">Type <span>↓</span></th>
        <th scope="col" (click)="sortByColor()">Fur color <span>↓</span></th>
        <th scope="col" (click)="sortByCountry()">Country <span>↓</span></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pet of petList; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ pet.name }}</td>
        <td>{{ pet.code }}</td>
        <td>{{ pet.type }}</td>
        <td>{{ pet.furColor }}</td>
        <td>{{ pet.countryOfOrigin }}</td>
        <td>
          <a routerLink="/pets/edit/{{ pet.id }}" class="btn btn-primary"
            >Edit pet</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</app-page-container>
<app-footer></app-footer>
